@import './variables.scss';

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
input {
    border: 1px solid $lightGray;
    padding: 3px 5px 4px;
    color: $lightGray01;
    width: $inputLength;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}
/** /css-reset **/
@import './media.scss';
html {
    font-size: 12px;
    font-family: Arial;
    color: $darkGray;
    background-color: $lightGray02;
    @include for-tablet-landscape-up {
        font-size: 13px;
    }
    @include for-desktop-up {
        font-size: 14px;
    }
    @include for-big-desktop-up {
        font-size: 16px;
    }
}

.wrapper {
    margin: 0 auto;
}

/*** heart ***/
.heart-wrap {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(45deg);
    transform-origin: 2.5em 2.5em;
    div.heart {
        top: 1em;
        left: 1em;
        position: absolute;
        width: 1em;
        height: 1em;
        background: $red;
    }
    div.heart:after,
    div.heart:before {
        content: ' ';
        position: absolute;
        display: block;
        width: 1em;
        height: 1em;
        background: $red;
    }
    div.heart:before {
        left: -1em;
        border-radius: 50% 0 0 50%;
    }
    div.heart:after {
        top: -1em;
        border-radius: 50% 50% 0 0;
    }
}
