@import '../../media.scss';
@import '../../variables.scss';

.image-wrap {
    height: 15rem;
    @include for-phone-only {
        height: 18rem;
    }
    @include for-tablet-portrait-up {
        height: 18rem;
    }
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    border-radius: 0.35rem;
    box-shadow: 2px 2px 5px 0px $lightGray03;
    position: relative;
    > img {
        height: 100%;
        object-fit: cover;
    }
    > span {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
    .overlay {
        position: absolute;
        display: none;
        background-color: $overlayColor;
        color: $white;
        height: 100%;
        width: 100%;
        .overlay-inner {
            padding: 0 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100%;
            justify-content: center;
            h4 {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
                line-height: 1.5rem;
                border-bottom: 1px solid $lightGray04;
                padding-bottom: 1rem;
                width: 100%;
                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    display: block;
                    overflow: hidden;
                }
            }
            h5 {
                font-size: 1.25rem;
                font-weight: bold;
                margin-bottom: 2rem;
                line-height: 1.25rem;
            }
        }
    }
    &:hover {
        .overlay {
            display: block;
        }
    }
    .fav-btn {
        border-radius: 0.5rem;
        color: $white;
        font-size: 1.25rem;
        padding: 0 1.5rem 0 1rem;
        text-decoration: none;
        outline: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 1px solid $white;
        align-items: center;
        cursor: pointer;
        .loading {
            margin: 0.5rem 0 0 0rem;
            font-size: 0.6em;
        }
    }

    .fav-btn:hover {
        background: $secondaryColor;
        background-image: -webkit-linear-gradient(top, $secondaryColor, $blue);
        background-image: -moz-linear-gradient(top, $secondaryColor, $blue);
        background-image: -ms-linear-gradient(top, $secondaryColor, $blue);
        background-image: -o-linear-gradient(top, $secondaryColor, $blue);
        background-image: linear-gradient(to bottom, $secondaryColor, $blue);
        text-decoration: none;
    }
    .favorite {
        position: absolute;
        font-size: 0.8em;
        top: -1rem;
        right: -2rem;
        width: 0;
        height: 0;
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-top: 3rem solid $white;
        transform: rotate(225deg);
        cursor: pointer;
        .heart-wrap {
            position: absolute;
            top: -4.9rem;
            transform: rotate(180deg);
            right: 1.3rem;
        }
    }
}
